body {
    background-color: #22577A !important;  
    color: #322f2f !important;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}
/* .navbar-toggler-icon {
    background-color: #d2d7dc;
} */

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #d2d7dc;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 50% !important;
    object-fit: cover !important;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute !important;
    margin: 0px 20px !important;
    bottom: -17% !important;
    min-width: 30% !important;
    left: 50% !important;
    background-color: #38A3A5 !important; 
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px !important;
    overflow: hidden !important;
    position: relative !important;
    display: inline-block !important;
    height: 33vh !important;
    width: 100% !important;
}

.masthead-text {
    background-color: #445261 !important;
    color: white !important;
    position: relative !important;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    right: 90% !important;
    height: 100% !important;
    width: 150% !important;
    background: #445261 !important;
    -webkit-transform: skew(15deg) !important;
    -moz-transform: skew(15deg) !important;
    transform: skew(15deg) !important;
    z-index: 100 !important;
}

.game-link {
    text-decoration: none;
    color: #38A3A5; 
}

.game-link:hover,
.game-link {
    color: #80ED99; 
}

.game-title {
    margin-top: 10%;
    margin-left: 5%;
}

.game-subtitle {
    margin-left: 5%;
    color: lightgray;
}


.btn-edit {
    background-color: #22577A !important; 
    color: #fff !important;
}


.btn-modern {
    padding: 10px 20px;
    border: none;
    border-radius: 50px; 
    background-color: #22577A; 
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect for the button */
.btn-modern:hover {
    background-color: #38A3A5;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3); 
}

/* Active effect (when button is clicked) */
.btn-modern:active {
    background-color: #57C699; 
    transform: scale(0.98); 
}

.login {
    background-color: #247b7d;
}
.btn-delete {
    background-color: #E84610 !important; 
    color: #fff !important;
}


.btn-like {
    color: #E84610 !important; 
    border: none !important;
    background: transparent !important;
}

.btn-delete {
    color: #fff !important;
    background: #E84610 !important; 
}

.btn-like:hover,
.btn-like:active {
    color: #E84610 !important; 
    background: transparent !important;
    border: none !important;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

ul {
    list-style-position: inside;
}

/* Styling for the form container */
.form-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Styling for the form elements */
.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}