body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: Roboto, sans-serif;
    background-color: #22577A;  
    color: #fff;
}

main {
    flex: 1;
}

a {
    color: #38A3A5;
    text-decoration: none;
}
a:hover {
    color: #80ED99;
}
a:active {
    color: #57C699;
}

/* Home page styles */
.home-page {
    background-color: #22577A;  
    color: #fff;
    height: 85vh;
    margin: 0;
}


.text-box-home,
.text-content {
    background-color:#122736bb
}
.home-img {
    width: 50%;
}

/* Navbar Styles */
.navbar {
    background-color: #173548; 
    color: white;

}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(157, 150, 150);
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.row-list {
    display: grid;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
  }
  
  .card-list {
    width: 320px;
    height: 600px;
    margin: 20px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f4a66;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  /* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.pagination a {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #38A3A5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #80ED99;
}

.pagination a:active {
  background-color: #57C699;
}

  
  .card-body-list h2 {
    font-size: 1.5rem
  }

  .img-list {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  .card-body-list {
    padding: 15px;
    text-align: center;
  }
  
  .card-body-list h5 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card-body-list p {
    font-size: 14px;
    color: #fff;
  }
  
  .card-body-list .date {
    font-size: 12px;
    color: #fff;
  }
  .card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 50%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    margin: 0px 20px;
    bottom: -17%;
    min-width: 30%;
    left: 50%;
    background-color: #38A3A5; 
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white ;
    position: relative;
}

.masthead-image {
  display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


/* Game Page Styles */

.game-link {
    text-decoration: none;
    color: #38A3A5; 
}

.game-link:hover,
.game-link {
    color: #80ED99; 
}

.game-title {
    margin-top: 10%;
    margin-left: 5%;
}

.game-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Button Styles */
.btn-edit {
    background-color: #22577A !important; 
    color: #fff !important;
}

.btn-modern {
    padding: 10px 20px;
    border: none;
    border-radius: 50px; 
    background-color: #38A3A5;
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
    cursor: pointer;
}


.btn-modern:hover {
    background-color: #80ED99;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3); 
}


.btn-modern:active {
    background-color: #57C699; 
    transform: scale(0.98); 
}



.btn-like {
    color: #E84610; 
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610; 
}

.btn-like:hover,
.btn-like:active {
    color: #E84610; 
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.alert-warning {
    width: 50%;
}
ul {
    list-style-position: inside;
}

#id_name, #id_email, #id_subject, #id_body, #id_message {
    width: 65% !important;
}

label[for*="id_"]:required::after {
  content: " *";
  color: red;
}

/* Background overlay */

.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}



/* Modal box styling */
.modal-content {
  background: #173548;
  padding: 20px 30px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Title styling */
.modal-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Message styling */
.modal-message {
  font-size: 1.1em;
  margin-bottom: 20px;
}

/* Button container */
.modal-buttons {
  display: flex;
  justify-content: space-around;
}

/* Button styling */
.button-ok, .button-cancel {
  padding: 12px 25px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* OK button styling */
.button-ok {
  background-color: #28a745;
  color: white;
}

.button-ok:hover {
  background-color: #218838;
}

/* Cancel button styling */
.button-cancel {
  background-color: #dc3545;
  color: white;
}

.button-cancel:hover {
  background-color: #c82333;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Footer */
.footer {
    background-color: #173548;
    color: rgba(255, 255, 255, .55);
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
}
/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .masthead {
        height: 15vh;
    }
    .footer {
      margin-top: 50% !important;
    }
    .btn-modern {
      font-size: 14px;
    }
    .col-md-6 {
        display: block;
    }
    .summernote-div {
      display: flex;
    }
    .note-frame {
      width: 100% !important;
    }

}



/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    width: 30%;
    margin-bottom: 20px;
  }
}

