{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Your Games</h2>
    <div class="row">
        {% for game in games %}
        <div class="col-md-4">
            <div class="card-list mb-4">
                <div class="card-body-list">
                    <div class="image-container">
                        {% if game.featured_image %}
                        <img class="img-list" src="{{ game.featured_image.url }}" alt="{{ game.title }}">
                        {% endif %}
                    </div>
                    <a href="{% url 'review_detail' game.slug %}" class="game-link">
                        <h2 class="card-title">{{ game.title }}</h2>
                    </a>
                    <p class="card-text">{{ game.excerpt }}</p>
                    <hr />
                    <p class="card-text text-muted h6">{{ game.created_on }}</p>
                    <p class="text-muted">Comments: {{ game.comment_count }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
