{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!-- About section -->

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static '/images/jag.jpg' %}" width="75%">
        </div>
        <div class="col-8 text-content">
            <h2>About Me</h2>
           
           <p> Hello my name is Johan and im studying to be a Full-stack developer.
            This is one of my projects, my third project for to be exact.</p>
           <p> You can find all my projects on github, here you got a link <a href="https://github.com/Johan-4P/anteskogs_game_reviews" target="_blank">Johan-4P</a> .</p>
           
            <p> I hope you enjoy my projects and if you have any questions or feedback, feel free to contact me,
                to do so, just fill in the form below.
            </p>
            <p> Have a great day!</p>
            {{ about.content | safe }}
        </div>
    </div>

    <!-- Display success message if it exists -->
    {% if messages %}
    <div class="mt-3">
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
        <div class="form-box">
            <form method="post" class="styled-form">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-modern" id="liveAlertBtn">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
