{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/jag.jpg' %}" width="75%" />
        </div>
        <div class="col-8">
            <h2>About Me</h2>
            <p>Hello my name is Johan and I'm studying to be a Full-stack developer.</p>
            <p>You can find all my projects on GitHub, just search for Johan-4P and you should find me.</p>
            <p>I hope you enjoy my projects and if you have any questions or feedback, feel free to contact me.</p>
            {{ about.content | safe }}
        </div>
    </div>
    <div>
        <div>
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
        <div class="about-forms">
            <form method="post" action="{% url 'about' %}" id="text-box-form">
                {% csrf_token %}
                {{ contact_form|crispy }}
                <button class="btn btn-modern" type="submit">
                    {% trans "Send Message" %}
                </button>
            </form>
        </div>
    </div>
  <!-- Display success message if it exists -->
    {% if messages %}
        <div class="alert alert-success mt-3">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
