body {
    background: url("/static/images/gaming-background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #22577A;  
    color: #fff;
}
.text-box {
    background: #0000008f;
}
.home-img {
    width: 50%;
}

#navbar-icon {
    background-color: white !important;
}
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #d2d7dc;
}

/* .main-bg {
    background-color: #F9FAFC;
} */

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 50%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    margin: 0px 20px;
    bottom: -17%;
    min-width: 30%;
    left: 50%;
    background-color: #38A3A5; 
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white ;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.game-link {
    text-decoration: none;
    color: #38A3A5; 
}

.game-link:hover,
.game-link {
    color: #80ED99; 
}

.game-title {
    margin-top: 10%;
    margin-left: 5%;
}

.game-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-edit {
    background-color: #22577A !important; 
    color: #fff !important;
}

.btn-modern {
    padding: 10px 20px;
    border: none;
    border-radius: 50px; 
    background-color: #22577A; 
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect for the button */
.btn-modern:hover {
    background-color: #38A3A5;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3); 
}

/* Active effect (when button is clicked) */
.btn-modern:active {
    background-color: #57C699; 
    transform: scale(0.98); 
}


.btn-delete {
    background-color: #E84610 !important; 
    color: #fff !important;
}

.btn-like {
    color: #E84610 !important; 
    border: none !important;
    background: transparent !important;
}

.btn-delete {
    color: #fff !important;
    background: #E84610 !important; 
}

.btn-like:hover,
.btn-like:active {
    color: #E84610 !important; 
    background: transparent !important;
    border: none !important;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.alert-warning {
    width: 50%;
}
ul {
    list-style-position: inside;
}

#id_name, #id_email, #id_subject, #id_body, #id_message {
    width: 65% !important;

}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .masthead {
        height: 15vh;
    }
}

/* For Projectors or Higher Resolution Screens (Full HD) */
/* @media screen and (min-width: 1920px) {
    .masthead {
        display: inline !important;
        height: 16vh !important;
    }
} */